@import url("https://fonts.googleapis.com/css?family=Roboto:300,300i,400,500,700");

/**Variables**/
$blueColor: #1b1464;
$greenColor: #85ce6e;
$font: "Roboto";

@import "radiobutton";
@import "slider";
@import "menu";

* {
  box-sizing: border-box;
}

body {
  position: relative;
  margin: 5%;
  padding: 0;
  font-family: $font;
  color: $blueColor;
}

main {
  margin: 5% 0;
}

h1 {
  font-weight: 700;
  font-size: 18pt;
}

p {
  font-size: 16pt;
}

h3 {
  font-size: 14pt;
}

h2 {
  font-weight: 700;
  font-size: 14pt;
}

h1,
h2,
h3,
.button {
  text-transform: uppercase;
}

h1,
h3,
.button {
  text-align: center;
}

.smallText {
  font-weight: 100;
  font-style: italic;
  font-size: 12pt;
  text-align: left;
  color: $blueColor;
}

.noMargin {
  margin: 0;
}

.fullWidth {
  width: 100%;
}

.plus {
  margin: auto 5%;
  font-size: 14pt;
  height: 16pt;
  width: 16pt;
}

/****************STEP ONE******************/
.stepOne {
  position: relative;
  margin: 10% 0 0;
  display: grid;
  grid-template-columns: 1fr 1fr;

  label {
    grid-column: 1;
  }
}

.smallText,
.button {
  margin: 5% 0;
  grid-column: span 2;
}

.iconGrid {
  display: grid;
  grid-template-columns: repeat(3, auto);
  align-self: center;

  .giftIcon {
    padding: 5% 0;
  }
}

.strikeThrough {
  text-align: center;
  font-weight: 100;
  font-size: 12pt;
  text-decoration-line: line-through;
}

label {
  font-size: 16pt;
  font-weight: 700;

  input[type="radio"] {
    border-color: $blueColor;
    color: $blueColor;
  }
}

.button {
  background-color: $greenColor;
  color: white;
  font-size: 13pt;
  font-weight: 700;
  text-transform: uppercase;
  height: 6vh;
  padding: 2%;
}

.sticky {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}

/*****************STEP TWO*********************/
.stepTwo {
  margin: 10% 0;
}

.stepTwoGrid {
  display: grid;
  grid-template-columns: 0.3fr 1fr;
  margin: 10% 0;

  .bino {
    grid-column: 1/-1;
  }

  .icon {
    margin: auto;
    width: 70%;
  }

  ul {
    grid-column: 2;
  }

  .smallText {
    grid-column: 2;
  }
}

.borderLine {
  width: 50vw;
  height: 1vw;
  display: block;
  margin: 15% auto;
  border-bottom: 3pt solid $blueColor;
}

/****************STEP THREE******************/
.stepThree>.stepThreeGrid {
  margin: 10% 0;

  .shopIcon {
    display: block;
    margin: 10% auto;
    font-size: 16pt;
  }

  .desktopMobile {
    margin: 10% 30%;
    display: grid;
    grid-template-columns: repeat(3, auto);
    text-align: center;
  }
}

.subTitles {
  display: inline;
}

.emphasis {
  font-weight: 700;
}