@import url("https://fonts.googleapis.com/css?family=Roboto:300,300i,400,500,700");

/**Variables**/
$blueColor: #1b1464;
$greenColor: #85ce6e;
$font: "Roboto";

@import "radiobutton";
@import "slider";
@import "menu";

* {
  box-sizing: border-box;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  font-family: $font;
  color: $blueColor;
}

main {
  margin: 5%;
}

h1 {
  font-weight: 700;
  font-size: 18pt;
}

p {
  font-size: 16pt;
}

h3 {
  font-size: 14pt;
}

h2 {
  font-weight: 700;
  font-size: 16pt;
}

.button {
  text-align: center;
}
.buttonLink {
  text-decoration: none;
}
.smallText {
  font-weight: 100;
  font-size: 12pt;
  text-align: left;
  color: $blueColor;
}

.noMargin {
  margin: 0;
}

.fullWidth {
  width: 100%;
}

.plus {
  background-color: $blueColor;
  border-radius: 100%;
  color: white;
  text-align: center;
  margin: auto;
  font-size: 14pt;
  height: 16pt;
  width: 16pt;
}

/****************STEP ONE******************/
.checkoutTitle {
  margin: 5% 0;
  h1 {
    text-align: center;
  }
  h3 {
    text-transform: initial;
  }
}
.stepOne {
  position: relative;
  margin: 10% 0 0;
}
.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.1fr 0.5fr;
  margin: 10% 5%;
  p {
    margin: 0;
  }
  .spar {
    grid-column: 2;
    text-align: right;
    font-size: 14pt;
  }
  .col {
    font-size: 16pt;
    font-weight: 700;
    grid-column: 1;
  }
  .strikeThrough {
    grid-column: 1;
    grid-row: 1;
    text-align: center;
    font-weight: 100;
    font-size: 12pt;
    text-decoration-line: line-through;
  }

  input[type="radio"] {
    border-color: $blueColor;
    color: $blueColor;
  }
}

.smallText,
.button {
  margin: 5% 0;
  grid-column: span 2;
}

.iconGrid {
  margin: 0 20%;
  display: grid;
  grid-template-columns: repeat(3, auto);
  align-self: center;
  .giftIcon {
    width: 80%;
    padding: 10% 5%;
  }
  .delIcon {
    width: 80%;
    align-self: end;
  }
}

.button {
  background-color: $greenColor;
  color: white;
  font-size: 16pt;
  font-weight: 700;
  text-transform: uppercase;
  height: 6vh;
  padding: 2%;
}

.sticky {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}

/*****************STEP TWO*********************/
.stepTwo {
  margin: 10% 0;
}

.stepTwoGrid {
  display: grid;
  grid-template-columns: 0.3fr 1fr;
  margin: 10% 0;

  .bino {
    grid-column: 1/-1;
  }

  .icon {
    margin: auto;
    width: 70%;
  }
  h2 {
    text-transform: initial;
  }

  ul {
    grid-column: 2;
  }

  .smallText {
    grid-column: 2;
  }
}

.borderLine {
  width: 50vw;
  height: 1vw;
  display: block;
  margin: 15% auto;
  border-bottom: 3pt solid $blueColor;
}

/****************STEP THREE******************/
.stepThree > .stepThreeGrid {
  margin: 10% 0;

  .shopIcon {
    display: block;
    margin: 10% auto;
    font-size: 16pt;
  }
  ul li {
    margin: 5%;
  }

  .desktopMobile {
    margin: 10% 30%;
    display: grid;
    grid-template-columns: repeat(3, auto);
    text-align: center;
  }
}

.subTitles {
  display: inline;
}

.emphasis {
  font-weight: 700;
}

/***************FOOTER************************/
footer {
  background-color: #f3f3f3;
  padding: 5% 10%;
  h3 {
    font-size: 14pt;
    text-align: left;
  }
  p {
    font-size: 10pt;
  }
  a {
    display: block;
    color: gray;
    font-size: 10pt;
  }
}

.kundeGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  p {
    margin-top: 0;
  }
}
