@import url("https://fonts.googleapis.com/css?family=Roboto:300,300i,400,500,700");

/**Variables**/
$blueColor: #1b1464;
$greenColor: #85ce6e;
$font: "Roboto";

@import "radiobutton";
@import "slider";
@import "menu";

* {
  box-sizing: border-box;
}
:root {
  font-size: 62.5%;
}
main {
  margin: 5% 0;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  font-family: $font;
  color: $blueColor;
}

h1 {
  font-weight: 700;
  font-size: 1.8rem;
  text-align: center;
}
h2 {
  font-weight: 700;
  font-size: 1.6rem;
}
h3 {
  text-align: center;
  font-size: 1.4rem;
}

p {
  font-size: 1.6rem;
}
li {
  font-size: 1.2rem;
}

.button {
  text-align: center;
}
.buttonLink {
  text-decoration: none;
}
.smallText {
  grid-column: span 2;
  font-weight: 100;
  font-size: 1.2rem;
  text-align: left;
  color: $blueColor;
}

.noMargin {
  margin: 0;
}

.fullWidth {
  width: 100%;
}

/****************STEP ONE******************/
.checkoutTitle {
  margin: 5%;
  h3 {
    text-transform: initial;
  }
}
.stepOne {
  margin: 5%;
  @media (min-width: 1024px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5%;
    margin: 5% 10% 0;
  }

  .stepOneGrid {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;

    @media (min-width: 1024px) {
      grid-column: 2;
      grid-row: 1;
    }
    h1 {
      grid-column: 1/-1;
    }
  }
}

.container {
  position: relative;
  p {
    margin: 0;
  }
  .col {
    font-size: 1.6rem;
    font-weight: 700;
  }

  .strikeThrough {
    margin-left: 3rem;
    font-weight: 100;
    font-size: 1.4rem;
  }
  .strikeThrough:before {
    content: "";
    display: block;
    position: absolute;
    left: 16vw;
    right: 3.5vw;
    top: 1vh;
    height: 0.5px;
    // width: 10px;
    background-color: $blueColor;
    @include transform(rotate(8deg));
    @media (min-width: 1024px) {
      height: 1px;
    }
  }

  input[type="radio"] {
    border-color: $blueColor;
    color: $blueColor;
  }
}

.radioGrid {
  margin: auto;
}
.iconGrid {
  margin: 5%;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: repeat(4, auto);
  align-self: center;
  .check {
    margin: auto;
    grid-column: 1;
    width: 60%;
  }
  .icon {
    width: 50%;
  }
  .smallText {
    margin: 0;
    grid-column: 2/-1;
  }
}

.button {
  margin: 0;
  background-color: $greenColor;
  color: white;
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
  height: 6vh;
  padding: 2%;
}

.sticky {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  left: 0;
  width: 100vw;
  @media (min-width: 1024px) {
    position: relative;
    width: 20vw;
    left: 60vw;
    padding: 1% 2%;
  }
}

/*****************STEP TWO*********************/
.stepTwo {
  margin: 10% 5%;
  @media (min-width: 1024px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5%;
    margin: 5% 10%;
  }

  h3 {
    text-align: left;
  }
}
.bino {
  margin: 5% 0;
  @media (min-width: 1024px) {
    grid-column: 2;
    grid-row: 2;
    margin: 0;
  }
}
.stepTwoGrid {
  display: grid;
  grid-template-columns: 0.3fr 1fr;
  @media (min-width: 1024px) {
    grid-row: 2;
  }

  .icon {
    margin: auto;
    width: 70%;
  }
  h2 {
    text-transform: initial;
  }

  ul {
    padding: 0;
    grid-column: 2;
  }

  .smallText {
    grid-column: 2;
  }
}

.borderLine {
  width: 50vw;
  height: 1vw;
  display: block;
  margin: 10% auto;
  border-bottom: 0.3rem solid $blueColor;
}

/****************STEP THREE******************/
.stepThree {
  margin: 10% 5%;
  @media (min-width: 1024px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 5% 10%;
    // grid-gap: 5%;
    img {
      grid-column: 2;
      grid-row: 2;
    }
    ul {
      grid-column: 1;
      grid-row: 2;
    }
  }

  ul li {
    margin: 5%;
  }
}

.subTitles {
  text-align: left;
}

.emphasis {
  font-weight: 700;
}

/***************FOOTER************************/
footer {
  background-color: #f3f3f3;
  padding: 5% 10%;
  h3 {
    font-size: 1.4rem;
    text-align: left;
  }
  p {
    font-size: 1rem;
  }
  a {
    display: block;
    color: gray;
    font-size: 1rem;
  }
  @media (min-width: 1024px) {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 1fr;
    grid-gap: 2%;
    padding: 5%;
    .sikkerBetaling img {
      width: 100%;
    }
  }
}

.kundeGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  p {
    margin-top: 0;
  }
}
