@import url("https://fonts.googleapis.com/css?family=Roboto:300,300i,400,500,700");
/**Variables**/
* {
  box-sizing: border-box; }

body {
  position: relative;
  margin: 0;
  padding: 0;
  font-family: "Roboto";
  color: #1b1464; }

main {
  margin: 5%; }

h1 {
  font-weight: 700;
  font-size: 18pt; }

p {
  font-size: 16pt; }

h3 {
  font-size: 14pt; }

h2 {
  font-weight: 700;
  font-size: 14pt; }

h1,
h2,
h3,
.subscribe {
  text-transform: uppercase; }

h1,
h3,
.subscribe {
  margin: 0;
  text-align: center; }

/**Header**/
header {
  border: 3pt solid #1b1464;
  background-color: #1b1464; }
  header svg {
    margin: 5% 5% 0 5%;
    fill: white;
    height: 50px;
    width: 40px; }
    header svg rect {
      height: 5px; }

/****************STEP ONE******************/
.stepOne {
  position: relative;
  margin: 10% 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 1fr 0.5fr 0.5fr; }
  .stepOne label {
    grid-column: 1; }

.smallText,
.subscribe {
  margin: 5% 0;
  grid-column: span 2; }

.smallText {
  font-weight: 100;
  font-style: italic;
  font-size: 12pt;
  text-align: left; }

.plus {
  margin: auto;
  color: white;
  background-color: #1b1464;
  border-radius: 50%;
  padding: 0 1pt;
  font-size: 14pt;
  height: 16pt;
  width: 16pt; }

.strikeThrough {
  margin: 0;
  text-align: center;
  font-weight: 100;
  font-size: 12pt;
  text-decoration-line: line-through; }

label {
  font-size: 16pt;
  font-weight: 700; }
  label input[type="radio"] {
    border-color: #1b1464;
    color: #1b1464; }

.subscribe {
  position: -webkit-sticky;
  position: sticky;
  top: -1px;
  background-color: #85ce6e;
  color: white;
  font-size: 16pt;
  font-weight: 700;
  text-transform: uppercase;
  height: 6vh;
  padding: 2%; }

/*****radiobutton from W3 schools******/
/* The container */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16pt;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer; }

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  border: 2pt solid #1b1464;
  border-radius: 50%; }

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  /* background-color: #ccc; */ }

.checkmark::before {
  display: block;
  position: absolute;
  content: "";
  border-radius: 100%;
  height: 15px;
  width: 15px;
  top: 2.5px;
  left: 2.5px;
  margin: auto; }

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark::before {
  background-color: #1b1464; }

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none; }

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block; }

/* Style the indicator (dot/circle) */
.container .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%; }

/****************STEP TWO******************/
.stepTwo > .stepTwoGrid {
  margin: 10% 0; }
  .stepTwo > .stepTwoGrid p,
  .stepTwo > .stepTwoGrid h3 {
    text-align: center;
    margin: 0; }
  .stepTwo > .stepTwoGrid .shopIcon {
    display: block;
    margin: 10% auto;
    font-size: 16pt; }
  .stepTwo > .stepTwoGrid .plusBlue {
    font-size: 20pt;
    font-weight: 100; }
  .stepTwo > .stepTwoGrid .desktopMobile {
    text-align: center; }
    .stepTwo > .stepTwoGrid .desktopMobile img {
      display: inline-block;
      margin: 5% 0; }

.subTitles {
  display: inline; }

.emphasis {
  font-weight: 700; }

/*****************STEP THREE*********************/
.titleGrid {
  display: grid;
  grid-template-columns: 0.1fr 1fr; }

.stepThreeGrid {
  display: grid;
  grid-template-columns: 0.3fr 1fr; }
  .stepThreeGrid img {
    margin: auto;
    width: 70%; }
  .stepThreeGrid ul {
    grid-column: 2; }
    .stepThreeGrid ul h2 {
      margin: 0; }
  .stepThreeGrid .smallText {
    grid-column: 2; }

.borderLine {
  width: 50vw;
  height: 1vw;
  display: block;
  margin: 15% auto;
  border-bottom: 3pt solid #1b1464; }
